/*main*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-color)
}

:root{
    --main-color: white;
    --secondary-color:#959595;   
}

.box_logo:after, .container:after{
    content: '';
    display: block;
    clear: both;
}

body{
    margin: 0 auto;
    width: 1000px;
}

/*header*/


.logo>img{
    width: 170px;
    margin-right: 20px;   
}   

.logo{ 
    border-right: solid 1px #E5E5E5;   
    float: left;
    margin-left: 10px;  
    margin-bottom: 20px;
}

nav{
    width: 100%;
    float: none;
}

ul li{
    display: inline-block;
    padding-right: 20px;
}

a{
    text-decoration: none;
}


/*img*/

.hero_img, .overflow{
    border-radius: 10px;
}

.hero_img{
    background-image: url(../img/banner.jpg);
    height:450px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
    margin-top: 2rem; 
}

.overflow{
    background-color: rgba(0, 0, 0, 0.205);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 0;
}

.Banner_text{
    margin: 3rem;
    width: 50%;
    position: absolute;
    bottom: 1rem;
}

.Banner_text>p, h2{
    color: var(--main-color);
}


/*container*/
h1,h4{
    color: black;
}

.title{
    margin: 2rem 0 2rem;
}


.sidebar{
    width: 25%;
    float: left;
}

.img_sb{
    width: 250px;
}

.box_image_sb{
    position: relative;
    z-index: 0;
}

section{
    margin-top: 1rem;
}
.central_bar{
    width: 47%;
    background-color: var(--central-bar);
    margin-left: 15px; 
    margin-right: 15px; 
}

.sidebar, .central_bar{
    margin-top: 15px;
    height: 500px;
    float: left;
}

footer{
    background-color: var(--footer);
    height: 100px;
    margin-top: 1rem;
}